/* Main css file */
.side-pane {
    -fx-background-color: #58a5f0;
}

.stat-pane {
    -fx-background-color: #FF9800;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.scroll-pane .menu-button {
    -fx-pref-width: 180px;
    -fx-pref-height: 60px;
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-insets: 5px 0px 5px 0px;
    -fx-background-insets: 5px 0px 5px 0px;
}

.scroll-pane .menu-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #FFC947;
    -fx-text-fill: #000000;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}




/* Tags bar control */
  .tags-bar {
    -fx-background-color:white;
    /*-fx-background-radius:15.0px;
    -fx-min-height: 25.0; */
    -fx-alignment:center-left;
    -fx-spacing: 3.0px;
    -fx-padding: 3.0px;
 }

 .tags-bar .tag {
    -fx-background-color:white;
    /*-fx-background-radius:10.0px; */
    -fx-border-color: red;
    -fx-border-style: solid inside;
    -fx-border-radius: 5;
    -fx-alignment: center;
    -fx-padding:1.0px;
    -fx-cursor:hand;
 }

  .tags-bar .tag .label{
  	-fx-text-fill:blue;
  	-fx-font-size:10.0px;
  }

.tags-bar .scroll-pane
{
    -fx-background-color:white;
    -fx-min-width:0px;
    /*-fx-min-height:0px; */
    -fx-pref-height:16px;
}

.tagsbarscroll-empty
{
    -fx-background-color:white;
    -fx-min-width:0px;
    -fx-min-height:0px;

}

.list-cell:filled:selected:focused .tags-bar, .list-cell:filled:selected:focused .tags-bar .scroll-pane, .list-cell:filled:selected .tags-bar, .list-cell:filled:selected .tags-bar .scroll-pane
{
    -fx-background-color:#0096C9;
}


.tags-bar .scroll-bar:horizontal .track,
.tags-bar .scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.tags-bar .scroll-bar:horizontal .increment-button ,
.tags-bar .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.tags-bar .scroll-bar:vertical .increment-button ,
.tags-bar .scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .tags-bar .scroll-bar .increment-arrow,
 .tags-bar .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .tags-bar .scroll-bar:vertical .increment-arrow,
 .tags-bar .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.tags-bar .scroll-bar:horizontal .thumb,
.tags-bar .scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.tags-bar .scroll-bar:horizontal .thumb:hover,
.tags-bar .scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


/** Color Themes for inspiration
Grey & green
https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=546E7A&secondary.color=009688
light: #819ca9
dark : #29434e

Blue & orange
https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=0277BD&secondary.color=FF9800
Light: #58a5f0
Dark : #004c8c

 */